* {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: normal;
}


/* typography variables */
.medium {
    font-weight: 500;
}
.bold {
    font-weight: bold;
}

a.link-nav {
    color: #fff;
    text-decoration: none;
}
a.link-nav:hover {
    text-decoration: underline;
}