*,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: "SF Pro Display", sans-serif;
  font-weight: normal;
}

/* typography variables */
.medium {
  font-weight: 500;
}
.bold {
  font-weight: bold;
}

a.link-nav {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}
a.link-nav:hover {
  text-decoration: underline;
}
